# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

C:\Users\ASUS\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# Data Assessing

In [2]:
flats=pd.read_csv('flats - flats.csv')
flats

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,2 BHK Flat in Krishna Colony,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746
1,2 BHK Flat in Ashok Vihar,https://www.99acres.com/2-bhk-bedroom-apartmen...,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564
2,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120
3,2 BHK Flat in Sector 61 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476
4,2 BHK Flat in Sector 92 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,3 BHK Flat in Sector 86 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Ansal Heights 86,1.05 Crore,"₹ 5,541/sq.ft.",Super Built up area 1895(176.05 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Servant Room,"Tower C, Sector 86 Gurgaon, Gurgaon, Haryana",9th of 13 Floors,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ...",D26586124
3024,5 BHK Flat in Sector 48 Gurgaon,https://www.99acres.com/5-bhk-bedroom-apartmen...,Parsvnath Green Ville3.9 ★,3.3 Crore,"₹ 9,984/sq.ft.",Super Built up area 3905(362.79 sq.m.)Built Up...,5 Bedrooms,5 Bathrooms,3+ Balconies,Servant Room,"Sector 48 Gurgaon, Gurgaon, Haryana",4th of 5 Floors,NaN,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5...",J17123294
3025,3 BHK Flat in Sector 108 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Raheja Vedaanta3.6 ★,95 Lac,"₹ 5,214/sq.ft.",Super Built up area 1822(169.27 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Others,"Sector 108 Gurgaon, Gurgaon, Haryana",3rd of 22 Floors,NaN,1 to 5 Year Old,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5...",A41215323
3026,3 BHK Flat in DLF Phase 3,https://www.99acres.com/3-bhk-bedroom-apartmen...,Ambience Lagoon3.9 ★,5.8 Crore,"₹ 12,500/sq.ft.",Built Up area: 3700 (343.74 sq.m.),3 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Others","Gurgaon, DLF Phase 3, Gurgaon, Haryana",9th of 9 Floors,North-East,10+ Year Old,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5...",J18888617
3027,4 BHK Flat in Sector 54 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,DLF The Crest3.6 ★,11 Crore,"₹ 35,222/sq.ft.",Super Built up area 3123(290.14 sq.m.),4 Bedrooms,6 Bathrooms,3 Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",7th of 36 Floors,NaN,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5...",V70296402

In [3]:
flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3028 entries, 0 to 3027
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3028 non-null   object
 1   link             3028 non-null   object
 2   society          3027 non-null   object
 3   price            3008 non-null   object
 4   area             3015 non-null   object
 5   areaWithType     3009 non-null   object
 6   bedRoom          3009 non-null   object
 7   bathroom         3009 non-null   object
 8   balcony          3009 non-null   object
 9   additionalRoom   1695 non-null   object
 10  address          3003 non-null   object
 11  floorNum         3007 non-null   object
 12  facing           2128 non-null   object
 13  agePossession    3008 non-null   object
 14  nearbyLocations  2914 non-null   object
 15  description      3009 non-null   object
 16  furnishDetails   2204 non-null   object
 17  features         2595 non-null   object
 18  rating           2677 non-null   object
 19  property_id      3009 non-null   object
dtypes: object(20)
memory usage: 473.3+ KB

In [4]:
flats.describe()

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
count,3028,3028,3027,3008,3015,3009,3009,3009,3009,1695,3003,3007,2128,3008,2914,3009,2204,2595,2677,3009
unique,405,2881,639,440,2131,1933,7,8,6,50,1288,551,9,49,600,2788,1368,1439,342,2875
top,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,SS The Leaf3.8 ★,1.25 Crore,"₹ 10,000/sq.ft.",Super Built up area 1950(181.16 sq.m.)Carpet a...,3 Bedrooms,2 Bathrooms,3 Balconies,Servant Room,"Sohna, Gurgaon, Haryana",2nd of 4 Floors,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",Best in class property available at sohna loca...,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of...",I69037888
freq,126,2,73,79,19,17,1439,1047,977,630,77,74,506,1479,73,7,367,290,128,2

In [5]:
df=flats.copy()

# Data Cleaning

In [6]:
flats['price'] # has values in lac, crore and some are like price on request

0           45 Lac
1           50 Lac
2           40 Lac
3       1.47 Crore
4           70 Lac
           ...
3023    1.05 Crore
3024     3.3 Crore
3025        95 Lac
3026     5.8 Crore
3027      11 Crore
Name: price, Length: 3028, dtype: object

In [7]:
# Price
df=df[df['price'].str.split().str[1]!='on'] # removing price on request columns as they are very few in number and we have no details

mask = df['price'].str.split().str[1] == 'Crore'
df.loc[mask, 'price'] = df.loc[mask, 'price'].str.split().str[0].astype(float) * 100
df.loc[~mask, 'price'] = df['price'].str.split().str[0]

In [8]:
flats['area']

0        ₹ 5,000/sq.ft.
1        ₹ 7,692/sq.ft.
2        ₹ 6,722/sq.ft.
3       ₹ 12,250/sq.ft.
4        ₹ 5,204/sq.ft.
             ...
3023     ₹ 5,541/sq.ft.
3024     ₹ 9,984/sq.ft.
3025     ₹ 5,214/sq.ft.
3026    ₹ 12,500/sq.ft.
3027    ₹ 35,222/sq.ft.
Name: area, Length: 3028, dtype: object

In [9]:
# Area
df['area']=df['area'].str.split().str[1].str.split('/').str[0].str.replace(',','')
df.rename(columns={
    'area':'price_per_sqft'
},inplace=True)

In [10]:
# Bedroom, Bathroom & Balcony
df['bedRoom']=df['bedRoom'].str.split().str[0]

df['bathroom']=df['bathroom'].str.split().str[0]

df['balcony']=df['balcony'].str.split().str[0].str.replace('+','')

In [11]:
df.drop(columns=['link'],inplace=True) # dropping the links column

In [12]:
df

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45,5000,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50,7692,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40,6722,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,147.0,12250,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70,5204,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,3 BHK Flat in Sector 86 Gurgaon,Ansal Heights 86,105.0,5541,Super Built up area 1895(176.05 sq.m.),3,3,3,Servant Room,"Tower C, Sector 86 Gurgaon, Gurgaon, Haryana",9th of 13 Floors,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ...",D26586124
3024,5 BHK Flat in Sector 48 Gurgaon,Parsvnath Green Ville3.9 ★,330.0,9984,Super Built up area 3905(362.79 sq.m.)Built Up...,5,5,3,Servant Room,"Sector 48 Gurgaon, Gurgaon, Haryana",4th of 5 Floors,NaN,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5...",J17123294
3025,3 BHK Flat in Sector 108 Gurgaon,Raheja Vedaanta3.6 ★,95,5214,Super Built up area 1822(169.27 sq.m.),3,3,3,Others,"Sector 108 Gurgaon, Gurgaon, Haryana",3rd of 22 Floors,NaN,1 to 5 Year Old,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5...",A41215323
3026,3 BHK Flat in DLF Phase 3,Ambience Lagoon3.9 ★,580.0,12500,Built Up area: 3700 (343.74 sq.m.),3,4,3,"Pooja Room,Study Room,Servant Room,Others","Gurgaon, DLF Phase 3, Gurgaon, Haryana",9th of 9 Floors,North-East,10+ Year Old,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5...",J18888617
3027,4 BHK Flat in Sector 54 Gurgaon,DLF The Crest3.6 ★,1100.0,35222,Super Built up area 3123(290.14 sq.m.),4,6,3,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",7th of 36 Floors,NaN,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5...",V70296402

In [13]:
# location
df['BHK']=df['property_name'].str.split().str[0] # No. of BHK feature

df['Location']=df['property_name'].str[13:] # new feature- Location
df.drop(columns=['property_name','address'],inplace=True)

In [14]:
df.sample(7)

,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,BHK,Location
374,DLF The Skycourt,150.0,9740,Super Built up area 1929(179.21 sq.m.)Built Up...,3,3,3,Study Room,18th of 19 Floors,West,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, Imt Manesar', 'Rao...",This 3 bhk apartment is available for sale in ...,NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of...",Z69657480,3,Sector 86 Gurgaon
1802,Ramprastha Primera,120.0,13333,Carpet area: 900 (83.61 sq.m.),3,3,3,Store Room,5th of 22 Floors,North-East,1 to 5 Year Old,"['JMS Marine Square Mall', 'HUDA Market', 'Dwa...",Ramprastha primera is one of gurgaon's most so...,"['4 Fan', '5 Light', '4 AC', 'No Bed', 'No Chi...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Environment4 out of 5', 'Lifestyle4 out of 5...",I70027322,3,Sector 37D Gurgaon
874,Experion The Heartsong3.9 ★,165.0,8237,Super Built up area 2003(186.08 sq.m.)Built Up...,3,4,3,Study Room,3rd of 14 Floors,North-West,5 to 10 Year Old,"['Galleria 108 Mall', 'Dwarka Expressway', 'Ce...","Experion, one of the most reputed real estate ...","['6 Fan', '6 Light', '4 AC', '1 Modular Kitche...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Green Area5 out of 5', 'Construction4 out of...",M68292792,3,Sector 108 Gurgaon
934,M3M Woodshire4.0 ★,80,5856,Super Built up area 1366(126.91 sq.m.)Carpet a...,2,2,3,Pooja Room,6th of 14 Floors,West,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",Available 2 bhk spacious apartment in m3m wood...,"['4 Fan', '1 Exhaust Fan', '1 Geyser', '4 Ligh...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction5 out ...",F69544930,2,Sector 107 Gurgaon
2317,Mapsko Mount Ville4.1 ★,140.0,9395,Carpet area: 1490 (138.43 sq.m.),3,3,3,NaN,2nd of 20 Floors,North,0 to 1 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...","Park , pool facing . Apartment above gym , club .","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of...",N69503004,3,Sector 79 Gurgaon
1493,ATS Kocoon,170.0,12878,Super Built up area 1745(162.12 sq.m.)Built Up...,3,3,3,NaN,22nd of 24 Floors,East,1 to 5 Year Old,"['Jagdish Super Market', 'Dwarka', 'Euro Inter...",Available for sale apartment 1745 sqft in ats ...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Private Garden / Terrace', 'Intercom Facilit...","['Green Area5 out of 5', 'Construction5 out of...",K68731282,3,Sector 109 Gurgaon
392,Sobha City,375.0,14938,Super Built up area 2343(217.67 sq.m.),3,3,2,Servant Room,16th of 24 Floors,North-East,0 to 1 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Located in the best society on dwarka expressw...,"['1 Fan', '1 Light', 'No AC', 'No Bed', 'No Ch...","['Intercom Facility', 'Lift(s)', 'Swimming Poo...","['Environment4 out of 5', 'Lifestyle4.5 out of...",Y68158826,3,Sector 108 Gurgaon

In [15]:
# Floor Num
df['Total Floors']=df['floorNum'].str.split().str[-2] # new feature 

df['floorNum']=df['floorNum'].str.split().str[0].str.replace('th','').str.replace('nd','').str.replace('st','').str.replace('rd','').str.replace(r'\D+', '0', regex=True)

In [16]:
df

,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,BHK,Location,Total Floors
0,maa bhagwati residency,45,5000,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746,2,Krishna Colony,4
1,Apna Enclave,50,7692,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564,2,Ashok Vihar,3
2,Tulsiani Easy in Homes,40,6722,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,12,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120,2,Sohna,14
3,Smart World Orchard,147.0,12250,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,2,NaN,Dec 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476,2,Sector 61 Gurgaon,4
4,Parkwood Westend,70,5204,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793,2,Sector 92 Gurgaon,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,Ansal Heights 86,105.0,5541,Super Built up area 1895(176.05 sq.m.),3,3,3,Servant Room,9,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ...",D26586124,3,Sector 86 Gurgaon,13
3024,Parsvnath Green Ville3.9 ★,330.0,9984,Super Built up area 3905(362.79 sq.m.)Built Up...,5,5,3,Servant Room,4,NaN,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5...",J17123294,5,Sector 48 Gurgaon,5
3025,Raheja Vedaanta3.6 ★,95,5214,Super Built up area 1822(169.27 sq.m.),3,3,3,Others,3,NaN,1 to 5 Year Old,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5...",A41215323,3,Sector 108 Gurgaon,22
3026,Ambience Lagoon3.9 ★,580.0,12500,Built Up area: 3700 (343.74 sq.m.),3,4,3,"Pooja Room,Study Room,Servant Room,Others",9,North-East,10+ Year Old,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5...",J18888617,3,DLF Phase 3,9
3027,DLF The Crest3.6 ★,1100.0,35222,Super Built up area 3123(290.14 sq.m.),4,6,3,Servant Room,7,NaN,1 to 5 Year Old,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5...",V70296402,4,Sector 54 Gurgaon,36

In [17]:
flats['agePossession'].value_counts()

agePossession
1 to 5 Year Old       1479
0 to 1 Year Old        443
5 to 10 Year Old       361
undefined              222
10+ Year Old           137
Under Construction      92
Within 6 months         63
Within 3 months         25
Dec 2023                20
By 2023                 19
By 2024                 16
Dec 2024                15
Mar 2024                14
Aug 2023                 7
Oct 2024                 7
Dec 2025                 7
Jan 2024                 7
Nov 2023                 5
Jun 2024                 5
Aug 2024                 5
By 2025                  4
Sep 2023                 4
Jan 2025                 4
Jul 2024                 4
Oct 2023                 3
Feb 2024                 3
Nov 2024                 3
May 2024                 3
Aug 2025                 2
Jan 2026                 2
Mar 2025                 2
Jun 2027                 2
Jul 2025                 2
Oct 2025                 2
Jul 2027                 2
Apr 2026                 2
Dec 2026                 2
Sep 2025                 2
By 2027                  1
agePossession            1
Nov 2025                 1
Jul 2026                 1
Jan 2027                 1
Sep 2027                 1
Jun 2025                 1
Jan 2028                 1
Aug 2026                 1
Mar 2026                 1
Apr 2024                 1
Name: count, dtype: int64

In [18]:
# Age posession-
def categorize_age_possession(value):
    if pd.isna(value):
        return "Undefined"
    if "0 to 1 Year Old" in value or "Within 6 months" in value or "Within 3 months" in value:
        return "New Property"
    if "1 to 5 Year Old" in value:
        return "Relatively New"
    if "5 to 10 Year Old" in value:
        return "Moderately Old"
    if "10+ Year Old" in value:
        return "Old Property"
    if "Under Construction" in value or "By" in value:
        return "Under Construction"
    try:
        # For entries like 'May 2024'
        int(value.split(" ")[-1])
        return "Under Construction"
    except:
        return "Undefined"
df['agePossession'] = df['agePossession'].apply(categorize_age_possession)

In [19]:
df

,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,BHK,Location,Total Floors
0,maa bhagwati residency,45,5000,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,4,West,Relatively New,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746,2,Krishna Colony,4
1,Apna Enclave,50,7692,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,1,West,Old Property,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564,2,Ashok Vihar,3
2,Tulsiani Easy in Homes,40,6722,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,12,NaN,New Property,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120,2,Sohna,14
3,Smart World Orchard,147.0,12250,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,2,NaN,Under Construction,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,S68849476,2,Sector 61 Gurgaon,4
4,Parkwood Westend,70,5204,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793,2,Sector 92 Gurgaon,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,Ansal Heights 86,105.0,5541,Super Built up area 1895(176.05 sq.m.),3,3,3,Servant Room,9,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Residential apartment for sell.Located in sect...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ...",D26586124,3,Sector 86 Gurgaon,13
3024,Parsvnath Green Ville3.9 ★,330.0,9984,Super Built up area 3905(362.79 sq.m.)Built Up...,5,5,3,Servant Room,4,NaN,Old Property,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",5 bhk duplex penthouse in low rise building.Av...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5...",J17123294,5,Sector 48 Gurgaon,5
3025,Raheja Vedaanta3.6 ★,95,5214,Super Built up area 1822(169.27 sq.m.),3,3,3,Others,3,NaN,Relatively New,NaN,3 bedroom flat with full woodwork. Ready to mo...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5...",A41215323,3,Sector 108 Gurgaon,22
3026,Ambience Lagoon3.9 ★,580.0,12500,Built Up area: 3700 (343.74 sq.m.),3,4,3,"Pooja Room,Study Room,Servant Room,Others",9,North-East,Old Property,"['Micromax moulsari avenue metro station', 'In...",Luxury condominium complex located on delhi gu...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5...",J18888617,3,DLF Phase 3,9
3027,DLF The Crest3.6 ★,1100.0,35222,Super Built up area 3123(290.14 sq.m.),4,6,3,Servant Room,7,NaN,Relatively New,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",Club & pool facing\nVrv air conditioning,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5...",V70296402,4,Sector 54 Gurgaon,36

In [20]:
# Additional Room
df['Servant_Room'] = df['additionalRoom'].apply(lambda x: 1 if pd.notnull(x) and 'Servant Room' in x else 0)
df['Study_Room'] = df['additionalRoom'].apply(lambda x: 1 if pd.notnull(x) and 'Study Room' in x else 0)
df['Pooja_Room'] = df['additionalRoom'].apply(lambda x: 1 if pd.notnull(x) and 'Pooja Room' in x else 0)
df['Store_Room'] = df['additionalRoom'].apply(lambda x: 1 if pd.notnull(x) and 'Store Room' in x else 0)

df.drop(columns=['additionalRoom','property_id'],inplace=True)

In [21]:
df

,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,floorNum,facing,agePossession,...,furnishDetails,features,rating,BHK,Location,Total Floors,Servant_Room,Study_Room,Pooja_Room,Store_Room
0,maa bhagwati residency,45,5000,Carpet area: 900 (83.61 sq.m.),2,2,1,4,West,Relatively New,...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",2,Krishna Colony,4,0,0,0,0
1,Apna Enclave,50,7692,Carpet area: 650 (60.39 sq.m.),2,2,1,1,West,Old Property,...,"['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",2,Ashok Vihar,3,0,0,0,0
2,Tulsiani Easy in Homes,40,6722,Carpet area: 595 (55.28 sq.m.),2,2,3,12,NaN,New Property,...,NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",2,Sohna,14,0,0,0,0
3,Smart World Orchard,147.0,12250,Carpet area: 1200 (111.48 sq.m.),2,2,2,2,NaN,Under Construction,...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN,2,Sector 61 Gurgaon,4,0,1,0,0
4,Parkwood Westend,70,5204,Super Built up area 1345(124.95 sq.m.),2,2,3,5,NaN,Under Construction,...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ...",2,Sector 92 Gurgaon,8,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,Ansal Heights 86,105.0,5541,Super Built up area 1895(176.05 sq.m.),3,3,3,9,North-East,Under Construction,...,[],NaN,"['Safety4.5 out of 5', 'Lifestyle5 out of 5', ...",3,Sector 86 Gurgaon,13,1,0,0,0
3024,Parsvnath Green Ville3.9 ★,330.0,9984,Super Built up area 3905(362.79 sq.m.)Built Up...,5,5,3,4,NaN,Old Property,...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...","['Management4 out of 5', 'Green Area4 out of 5...",5,Sector 48 Gurgaon,5,1,0,0,0
3025,Raheja Vedaanta3.6 ★,95,5214,Super Built up area 1822(169.27 sq.m.),3,3,3,3,NaN,Relatively New,...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Management3 out of 5', 'Green Area4 out of 5...",3,Sector 108 Gurgaon,22,0,0,0,0
3026,Ambience Lagoon3.9 ★,580.0,12500,Built Up area: 3700 (343.74 sq.m.),3,4,3,9,North-East,Old Property,...,"['1 Water Purifier', '10 Fan', '1 Fridge', '1 ...","['Security / Fire Alarm', 'Private Garden / Te...","['Management5 out of 5', 'Green Area5 out of 5...",3,DLF Phase 3,9,1,1,1,0
3027,DLF The Crest3.6 ★,1100.0,35222,Super Built up area 3123(290.14 sq.m.),4,6,3,7,NaN,Relatively New,...,"['6 Fan', '1 Fridge', '1 Exhaust Fan', '5 Geys...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Management4 out of 5', 'Green Area4 out of 5...",4,Sector 54 Gurgaon,36,1,0,0,0

In [22]:
# Rating- on an average its 4 for most of the columns, dropping this feature
df.drop(columns='rating',inplace=True)

In [23]:
df.columns

Index(['society', 'price', 'price_per_sqft', 'areaWithType', 'bedRoom',
       'bathroom', 'balcony', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features', 'BHK',
       'Location', 'Total Floors', 'Servant_Room', 'Study_Room', 'Pooja_Room',
       'Store_Room'],
      dtype='object')

* Carpet area refers to the actual usable area within an apartment or building, excluding the thickness of the inner walls. It is the area that can be covered by a carpet or rug.
* Built-up area includes the carpet area plus the area covered by the walls of the apartment.
* Super built-up area is the sum of the built-up area plus a proportionate share of common areas such as the lobby, staircase, elevator, etc.

Calculated area is different for different types of area, not generalized

In [24]:
import re
carpet = r'Carpet area: (\d+(\.\d+)?)'# + is for one or more character, inside bracket expression is for decimal values(optional, indicated by ?)
built = r'Built Up area: (\d+(\.\d+)?)'
super_built = r'Super Built up area (\d+(\.\d+)?)'

In [25]:
carpet_area = []
for i in df['areaWithType']:
    if isinstance(i, str):
        match = re.search(carpet, i)
        if match:
            carpet_area.append(match.group(1))
        else:
            carpet_area.append(np.nan)
    else:
        carpet_area.append(np.nan)

In [26]:
builtup_area = []
for i in df['areaWithType']:
    if isinstance(i, str):
        match = re.search(built, i)
        if match:
            builtup_area.append(match.group(1))
        else:
            builtup_area.append(np.nan)
    else:
        builtup_area.append(np.nan)

In [27]:
superbuilt = []
for i in df['areaWithType']:
    if isinstance(i, str):
        match = re.search(super_built, i)
        if match:
            superbuilt.append(match.group(1))
        else:
            superbuilt.append(np.nan)
    else:
        superbuilt.append(np.nan)

In [28]:
df['Carpet_Area']=carpet_area
df['Built_Up_Area']=builtup_area
df['Super_BuiltUp_Area']=superbuilt
df.drop(columns='areaWithType',inplace=True)

In [29]:
df

,society,price,price_per_sqft,bedRoom,bathroom,balcony,floorNum,facing,agePossession,nearbyLocations,...,BHK,Location,Total Floors,Servant_Room,Study_Room,Pooja_Room,Store_Room,Carpet_Area,Built_Up_Area,Super_BuiltUp_Area
0,maa bhagwati residency,45,5000,2,2,1,4,West,Relatively New,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",...,2,Krishna Colony,4,0,0,0,0,900,NaN,NaN
1,Apna Enclave,50,7692,2,2,1,1,West,Old Property,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",...,2,Ashok Vihar,3,0,0,0,0,650,NaN,NaN
2,Tulsiani Easy in Homes,40,6722,2,2,3,12,NaN,New Property,"['Huda City Metro', 'Golf Course extn road', '...",...,2,Sohna,14,0,0,0,0,595,NaN,NaN
3,Smart World Orchard,147.0,12250,2,2,2,2,NaN,Under Construction,"['Sector 55-56 Metro station', 'Bestech Centra...",...,2,Sector 61 Gurgaon,4,0,1,0,0,1200,NaN,NaN
4,Parkwood Westend,70,5204,2,2,3,5,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",...,2,Sector 92 Gurgaon,8,0,1,0,0,NaN,NaN,1345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,Ansal Heights 86,105.0,5541,3,3,3,9,North-East,Under Construction,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",...,3,Sector 86 Gurgaon,13,1,0,0,0,NaN,NaN,1895
3024,Parsvnath Green Ville3.9 ★,330.0,9984,5,5,3,4,NaN,Old Property,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",...,5,Sector 48 Gurgaon,5,1,0,0,0,NaN,3305,3905
3025,Raheja Vedaanta3.6 ★,95,5214,3,3,3,3,NaN,Relatively New,NaN,...,3,Sector 108 Gurgaon,22,0,0,0,0,NaN,NaN,1822
3026,Ambience Lagoon3.9 ★,580.0,12500,3,4,3,9,North-East,Old Property,"['Micromax moulsari avenue metro station', 'In...",...,3,DLF Phase 3,9,1,1,1,0,NaN,3700,NaN
3027,DLF The Crest3.6 ★,1100.0,35222,4,6,3,7,NaN,Relatively New,"['Sector 53-54 Metro Station', 'Ardee Mall', '...",...,4,Sector 54 Gurgaon,36,1,0,0,0,NaN,NaN,3123

In [31]:
df['society']=df['society'].replace(r'\d+(\.\d\s[★])?','',regex=True)

In [33]:
# remaining cols clean
# excel mai load and check ajeeb data
# think imputation techniques